.logo {
  width: 90%;
  height: auto;
  margin-top: 25vh;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));

  @media screen and (min-width: 700px) {
    margin-top: 20vh;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 20vh;
    width: 70%;
  }

  &__dot {
    opacity: 0;

    &--top {
      animation: blink 700ms alternate-reverse
          cubic-bezier(0.47, 0, 0.745, 0.715) infinite,
        colorChange 1400ms alternate-reverse
          cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    }
    &--mid {
      animation: blink 700ms 200ms alternate-reverse
          cubic-bezier(0.47, 0, 0.745, 0.715) infinite,
        colorChange 1400ms 200ms alternate-reverse
          cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    }
    &--bot {
      animation: blink 700ms 400ms alternate-reverse
          cubic-bezier(0.47, 0, 0.745, 0.715) infinite,
        colorChange 1400ms 400ms alternate-reverse
          cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    }
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes colorChange {
  from {
    fill: #003daa;
  }

  to {
    fill: #ffa10b;
  }
}

// @keyframes colorChangeLight {
//   from {
//     fill: #154ece;
//   }

//   to {
//     fill: #f77308;
//   }
// }
